body {
    padding: 0px;
    margin: 0px;
    background-image: url(../pic/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: "Figtree", sans-serif;

}

.container {
    width: 33%;
    padding: 15px 20px;
    margin: 45px auto;
    background-image: url(../pic/squard.jpg);
    border-radius: 30px;

}

.container h1 {
    font-size: 45px;
    line-height: 14px;
    text-align: center;
}


.form-fill {
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
}

.form-fill input {
    padding: 3px 1px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;

}

.btn {
    font-size: 25px;
    width: 33%;
    height: 45px;
    border-radius: 8px;
    margin: 30px auto;
    display: block;
    place-items: center;
    background-color: #86d0d0;
    border: #86d0d0;

}

.btn:hover {
    background-color: rgb(238, 79, 79);
}

.logo img {
    width: 140px;
    height: 44px;
    position: fixed;
    display: inline-block;
    top: 655px;
    right: 50px;
    filter: invert(100%);
}